body {
  background: #1c478e;
  color: #fff;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 5px;
  background: #333;
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-size: 1.5em;
}

h3 {
  font-family: 'Verdana', sans-serif;
  font-size: .8em;
  text-align: center;
}

td {
  font-family: 'Verdana', sans-serif;
  font-size: .8em;
}

li {
  font-family: 'Verdana', sans-serif;
  font-size: .8em;
}

.landheading {
  background: #2658a9;
  padding: 5px;
  font-family: 'Verdana', sans-serif;
  font-size: 1em;
}

#maindiv {
  width: 730px;
}

#leftdiv {
  width: 500px;
  float: left;
  padding-right: 20px;
}

#rightdiv {
  width: 180px;
  float: right;
  background: #333;
  padding: 0 10px;
  margin-top: 20px;
}

#table1 {
  width: 500;
}

#table2 {
  width: 500;
}

td {
  border-bottom: 1px dashed #ffffff;
  padding: 5px;
  text-align: center;
}























