body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 13px;
  font-family: 'Verdana', helvetica, sans-serif;
  color: #000000;
  background: #1c478e;
  background-image: url(../img/background.png);
  background-repeat: repeat-x;
}