* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    font-family: Arial;
    font-size: 13px;
    line-height: 1.5em;
    color: #fff;
    background: #78284a;
    background: linear-gradient(to right, #78284a 0%, #6d8a9f 100%);
}

.clearfix {
    clear: both;
}

#container {
    width: 330px;
    min-height: 400px;
    background: #333;
    overflow: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 10px 8px -8px #333;
}

#audio-image {
    position: relative;
    overflow: hidden;
    height: 300px;
    margin-bottom: 15px; 
}

#audio-image .cover {
    width: 100%;
}

#audio-info {
    text-align: center;
}

#audio-info .artist {
    font-weight: bold;
}

input#volume {
    width: 95%;
    margin-left: 2%;
    -webkit-appearance: none !important;
    background: #ccc;
    height: 1px;
    margin-bottom: 20px;
}

























